


/* Mon css */

body{ /* IDEM */
    border:solid 1px;
    background-color: antiquewhite;
}
h1{
	text-align: center;
	text-decoration: underline;
	color: #890000;
}


/* permet d'afficher toute les chaussure en ligne
avec retour à la ligne automatique */
.table{
	display: inline;
	padding: 1%;
}

.table div{
	display: inline-block;
	width: 30%;
	text-align: center;
	padding:0px;
	margin:0px;
}

.table div img{
	width:90%;
	height: 250px;
}

/* j'ai copié sur nico je sais pas si c'est vraiment utilse
*/
.table p{
	display: block;
	-webkit-margin-before: 1em;
}
header {
    margin-bottom:2%;
    border-radius: 2px;
    border:outset 5px red;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

header li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
header li a{
    display: block;
    color: #890000;
    text-decoration: none;
    padding: 8px 0 8px 16px;
}

header li a:hover{
    background-color: crimson;
    color: white;
}
/* gestion dropdown menu */
header .dropdown{
    display: none;
    border-radius: 0px;
    padding: 0;
}

header .dropdown li {
    float: none;
    position: relative;
    border-top: 1px solid #6b727c;
}

header .dropdown li a:hover{
    background-color: #6b727c;
}

header ul li:hover > ul {
    display: block;
}

header ul:after{
    content: "";
    clear: both;
    display: block;
}



.viewModelOfBrand img{
    width:50%;
    height: 200px;
}

footer{
	padding:10px 0px;/*Marge verticale*/
	background-color: darkkhaki; /*Couleur de fond*/
	text-align:center;/*texte centré*/
    border-radius: 6px;
    border:solid 1px;
}



/* Test
.prepOnglet{
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset,
    0 0 3px #816F47;
    overflow: hidden;

}

.prepOnglet  a{
    background-repeat: no-repeat;
    text-decoration: none;
}

.prepOnglet figcaption {
    position: absolute;
    left: 0;
    bottom: -1em;width: 200px;
    height: 2.6em;
    line-height: 1.5em;
    text-align: center;
    color: cadetblue;
    overflow: hidden;
    /* preparation de la transition
    transition: all 0.7s;
}

#prepOnglet figcaption span {display: block}


*/


/* Diapo */
#slideshow {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    background-color: #FFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(#FFF, #FF 20%, #EE 80%, #DDD);
}

#slideshow:before,
#slideshow:after{
    position: absolute;
    bottom: 16px;
    z-index: -10;
    width: 10%;
    height: 20px;
    content: " ";
    background: rosybrown;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.4), 0 20px 10px rgba(0,0,0,0.7);
}

#slideshow:before{
    left: 0;
    transform: rotate(-4deg);
}

#slideshow:after{
    right: 0;
    transform: rotate(4deg);
}

#slideshow .container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 310px;
}

#slideshow .container:after{
    position: absolute;
    bottom: 0; left: 0;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #fff;
}

#slideshow .slider{ /* effet diaporama */
   position: absolute;
    left: 0;
    top: 0;
    width: 400%;
    height: 310px;
}



#slideshow figure{ /* annulation marge */
    position: relative;
    display: inline-block;

    padding: 0;
    margin: 0;
}

#slideshow figure:after{
    position: absolute;
    display: block;
    content: " ";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow:  0 0 65px rgba(0,0,0,0.5) inset;
}

.imageSlide{
    width: 640px;
    height: 310px;
}


/*  animer le le slide */
@keyframes slider {
    0%, 20%, 100% {left: 0}
    25%, 45% {left: -100%}
    50%, 70% {left: -200%}
    75%, 95%    {left: 0%}

}

/* mise en place de l'animation
change de slide toute les 20s
*/
#slideshow .slider{
    animation: slider 32s infinite;
}

#time{
    position: absolute;
    background-color: red;
    bottom: 15px;
    left: 15px;
    height: 3px;
    background: rgb(214,98,13.8);
    width: 0;
    animation: timeliner 32s infinite;
}

@keyframes timeliner {
    0%, 25%, 50%, 75%, 100% {width: 0;}
    20%, 45%, 70%, 90% {width: 640px;}
}