

/* Mon css */
h1{
	text-align: center;
	text-decoration: underline;
	color: #890000;
}
/* permet d'afficher toute les chaussure en ligne
avec retour à la ligne automatique */
.table{
	display: inline;
	padding: 1%;
}

.table div{
	display: inline-block;
	width: 30%;
	text-align: center;
	padding:0px;
	margin:0px;
}

.table div img{
	width:90%;
	height: 250px;
}

/* j'ai copié sur nico je sais pas si c'est vraiment utilse
*/
.table p{
	display: block;
	-webkit-margin-before: 1em;
}
header {
    margin-bottom: 5%;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: relative;
}

header li {float: left}
header li a{
    display: block;
    color: #890000;
    text-decoration: none;
    padding: 8px 0 8px 16px;
}

header li a:hover{
    background-color: crimson;
    color: white;
}
/* gestion dropdown menu */
header .dropdown{
    display: none;
    border-radius: 0px;
    padding: 0;
}

header .dropdown li {
    float: none;
    position: relative;
    border-top: 1px solid #6b727c;
}

header .dropdown li a:hover{
    background-color: #6b727c;
}

header ul li:hover > ul {
    display: block;
}

header ul:after{
    content: "";
    clear: both;
    display: block;
}


.viewModelOfBrand img{
    width:50%;
    height: 200px;
}

footer{
	padding:25px 0px;/*Marge verticale*/
	background-color: slategray; /*Couleur de fond*/
	text-align:center;/*texte centré*/
}




/* Test
.prepOnglet{
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset,
    0 0 3px #816F47;
    overflow: hidden;

}

.prepOnglet  a{
    background-repeat: no-repeat;
    text-decoration: none;
}

.prepOnglet figcaption {
    position: absolute;
    left: 0;
    bottom: -1em;width: 200px;
    height: 2.6em;
    line-height: 1.5em;
    text-align: center;
    color: cadetblue;
    overflow: hidden;
    /* preparation de la transition
    transition: all 0.7s;
}

#prepOnglet figcaption span {display: block}


*/

