


/* Mon css */

body{ /* IDEM */
    background-color: white;
    padding: 0;
    margin: 0;
}

/*  titre */
h1{
    text-align: center;
    color: black;
}


header {
    border-radius: 2px;
    width: 100%;
    background-color: #F5F5F5;
}




/* permet d'afficher toute les chaussure en ligne
avec retour à la ligne automatique */


#underHeader {
	background-color: lightgray;
	height: 0.3em;
	width: 100%;
}

.blockLeft {
    float: left;

}
.image{
    width: 40% ;
}

.blockRight{
    float: right;
    display: inline-block;
}

/* vue d'ensemble */
.table{
	display: inline;
	padding: 1%;
}

.table div{
	display: inline-block;
	width: 30%;
	text-align: center;
	padding:0px;
	margin:0px;
}

.table div img{
	width:90%;
	height: 250px;
}

.table p{
	display: block;
	-webkit-margin-before: 1em;
}

/* vue rapproché d'un modele */
.setModel{
    display: inline;
    padding: 1%;
}

.setModel div{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding:0px;
    margin:0px;
}

.setModel div img{
    width:90%;
    height: 250px;
}


/*/////////////////////////////////////////////////////////*/

nav {
    background-color: #222;
    color: white;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    text-align:center;
    color: white;
}

nav li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
    color: white;
}
nav li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px;
    text-align:center;
    color: white;
}

nav li a:hover{
    background-color: white;
    border-radius: 3px;
    color: black;
}
/* gestion dropdown menu */
nav .dropdown{
    display: none;
    border-radius: 0px;
    padding: 0;
}

nav .dropdown li {
    float: none;
    position: relative;
    border-top: 1px solid #6b727c;
    background-color: red;

}

nav .dropdown li a:hover{
    background-color: red;

}

nav ul li:hover > ul {
    display: block;
    position: absolute;
    z-index: 40;

}

nav ul:after{
    content: "";
    clear: both;
    display: block;
}



.viewModelOfBrand img{
    width:50%;
    height: 50%;
}

.header {

}

footer{
	background-color: ghostwhite; /*Couleur de fond*/
	text-align:center;/*texte centré*/
    border-radius: 6px;

    position: relative;
    clear: both;
    bottom: 0;
}

/*******************************************************/
/* slide legende */
.slideLegend{
    position: relative;
    display: inline-block;
    padding: 5px;

}
.slideLegend figure{
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0px;
}

.slideLegend figure:after{
    position: absolute;
    display: block;
}

.slideLegend figcaption{
    position:absolute;
    overflow: hidden;
    left:0; right:0;
    bottom: -30%; /* caché */
    padding: 20px;
    margin:0;

    border-top: 1px solid rgb(225,225,225);
    text-align:center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-family: Georgia, Times, serif;
    background: #fff;
    background: rgba(255,255,255,0.7);
    color: #555;
    text-shadow: -1px -1px 0 rgba(255,255,255,0.3);

}
@keyframes figcaptionner {
    0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
    5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

.slideLegend figure:hover figcaption{
    animation: figcaptionner 8s ;
}
/* Diapo */
#slideshow {
    position: relative;
    width: 800px;
    height: 400px;
    padding: 15px;
    margin: 0 auto 2em;
    background-color: #FFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);

}

#slideshow:before,
#slideshow:after{
    position: absolute;
    bottom: 16px;
    z-index: -10;
    width: 10%;
    height: 20px;
    content: " ";
    background: rosybrown;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.4), 0 20px 10px rgba(0,0,0,0.7);
}

#slideshow:before{
    left: 0;
    transform: rotate(-4deg);
}

#slideshow:after{
    right: 0;
    transform: rotate(4deg);
}

#slideshow .container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

#slideshow .container:after{
    position: absolute;
    bottom: 0; left: 0;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #fff;
}

#slideshow .slider{ /* effet diaporama */
   position: absolute;
    left: 0;
    top: 0;
    width: 400%;
    height: 400px;
}



#slideshow figure{ /* annulation marge */
    position: relative;
    display: inline-block;

    padding: 0;
    margin: 0;
}

#slideshow figure:after{
    position: absolute;
    display: block;
    content: " ";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow:  0 0 65px rgba(0,0,0,0.5) inset;
}

.imageSlide{
    width: 800px;
    height: 400px;
}


/*  animer le le slide */
@keyframes slider {
    0%, 20%, 100% {left: 0}
    25%, 45% {left: -100%}
    50%, 70% {left: -200%}
    75%, 95%    {left: 0%}

}

/* mise en place de l'animation
change de slide toute les 20s
*/
#slideshow .slider{
    animation: slider 32s infinite;
}

#time{
    position: absolute;
    background-color: darkgray;
    bottom: 15px;
    left: 15px;
    height: 3px;
    background: rgb(214,98,13.8);
    width: 0;
    animation: timeliner 32s infinite;
}

@keyframes timeliner {
    0%, 25%, 50%, 75%, 100% {width: 0;}
    20%, 45%, 70%, 100% {width: 800px;}
}